version: "3.8"

services:
  inventory-db:
    image: mysql:latest
    container_name: inventory-db
    restart: always
    environment:
      # MYSQL_ROOT_PASSWORD: 123
      MYSQL_DATABASE: inventory
      MYSQL_USER: root
      MYSQL_PASSWORD: 123
    ports:
      - 3306:3306
    volumes:
      - ./mysql-data:/var/lib/mysql
    networks:
      - inventory-network
  inventory-service:
    container_name: inventory-service
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 8080:8080
    depends_on:
      - inventory-db
    networks:
      - inventory-network
volumes:
  mysql-data:
networks:
  inventory-network:
    driver: bridge
